<%- include('partials/_header.ejs') %> <%- include('partials/_navbar.ejs') %>

<main>
  <div id="dashboard" class="container row">
    <div id="dashboard-container" class="center card lime lighten-4 s8">
      <!-- The user entry -->
      <div id="dashboard-user-card" class="card s10 m6 hoverable">
        <span class="card-title wildstyle"><%= user.displayName %></span>
        <img class="responsive-img" src="<%= user.image %>" alt="me" />
        <a href="/songs"><h3>Jams: <%= totalSongs %></h3></a>
        <a href="/bands"><h3>Bands: <%= totalBands %></h3></a>
      </div>
      <!-- The song entry -->

      <!-- This feature will appear in a future version -->

      <!-- <div class="card s10 m6 hoverable">
        <h3 class="center">Most Recently Added Song</h3>
        <div class="card hoverable">
          <a href="/songs">
            <div class="card-image center">
              <img class="responsive-img" alt="" src="<%= song.image %>" />
              <span class="card-title truncate"><%= song.songName %></span>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</main>

<%- include('partials/_footer.ejs') %>
