<%- include('partials/_header.ejs') %> 
<%- include('partials/_navbar.ejs') %>

<main>
  <h1 class="teal-text">
    A dashing dashboard has appeared. You are shocked. Le gasp!
  </h1>
  <div class="container center">
    <h3>Welcome,</h3>
    <%- include('partials/_user_chip.ejs') %>
  </div>

  <p class="center">My GoogleID is: <%= user.googleId %></p>
</main>

<%- include('partials/_footer.ejs') %>
