<%- include('partials/_header.ejs') %>
<%- include('partials/_navbar.ejs') %>

<main>
  <div class="container center row">
    <div class="card center lime lighten-4 col s12 m8 valign-wrapper">
      <!-- The user entry -->
      <div class="col center s12 m6">
        <div class="row">
          <h3><%= user.displayName %></h3>
          <img src="<%= user.image %>" alt="me" />
          <h3>Jams: <%= totalSongs %></h3>
          <h3>Bands: <%= totalBands %></h3>
        </div>
      <!-- The song entry -->
        <div class="row">
          <h3>Most Recently Added Song</h3>
          <div class="card hoverable">
            <a href="/songs">
            <div class="card-image">
              <img
                class="responsive-img"
                alt=""
                src="<%= song.image %>"
              />
              <span class="card-title truncate"><%= song.songName %></span>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container dashboard-links row center s12">
    <a href="/bands">
      <div class="col s6 m4 card dashboard-button">
        <i class="fa-solid fa-users-between-lines"></i>
      </br>
        <span class="wildstyle">Bands</span>
      </div>
    </a>
    <a href="/bands">
      <div class="col s6 m4 card dashboard-button">
        <i class="material-icons">music_note</i>
      </br>
        <span class="wildstyle">Songs</span>
      </div>
    </a>
  </div>
</main>

<%- include('partials/_footer.ejs') %>
